.main-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-width: 80px;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        .arrow {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      .arrow {
        position: absolute;
        top: -1px;
        opacity: 0;
        right: 26px;
        transition: all .3s ease;
        pointer-events: none;
      }

      &::after {
        content: attr(data-content);
        position: absolute;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 300;
        top: -5px;
        border-radius: 8px;
        background: rgba(30, 43, 59, 0.88);
        backdrop-filter: blur(5px);
        color: #FFFFFF;
        padding: 9px 24px 8px 24px;
        opacity: 0;
        right: 40px;
        transition: all .2s ease-in-out;
        pointer-events: none;
      }
    }

    span {
      position: absolute;
    }
  }
}