@import "./../../../node_modules/vazirmatn/Vazirmatn-font-face.css";
@import "mixed";
//misc/Farsi-Digits
body {
  font-family: Vazirmatn, sans-serif;
  background: linear-gradient(180deg, #F5F3F4 0%, #DCE1ED 100%);
  min-height: 100vh;
  @include flex-center;
  direction: rtl;
  font-feature-settings: "ss01";

  #root {
    display: block;
    width: 100%;
    height: 100%;
  }

  .swiper-fade {
    .swiper-slide {
      opacity: 0 !important;
    }

    .swiper-slide-active {
      opacity: 1 !important;
    }
  }

  .gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
  }
  .gg-close::after,
  .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
  }
  .gg-close::after {
    transform: rotate(-45deg)
  }
}

:root {
  --title: #080E13;
  --description: #757575;
}