.home-parent {
  max-width: 90%;
  margin: 0 auto;
  height: calc(100vh - 107px);
  border-radius: 25px;
  background: linear-gradient(180deg, #F8FAFB 0%, #F5F7F9 100%);
  box-shadow: 0 20px 60px 0 #C1C8DF;
  display: flex;
  overflow: hidden;
  position: relative;

  @media only screen and (max-width: 1024px) {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }


  .main {
    flex: 1;
    max-width: calc(100% - 80px);
    position: relative;
    overflow: auto;

    @media only screen and (max-width: 1024px) {
      max-width: 100%;
      height: 100vh;
      border-radius: 0;
      padding-bottom: 65px;
    }

    > div {
      padding: 30px 20px;

    }

    > span {
      position: absolute;
      z-index: 100;
      background: #46464612;
      right: -80px;
      top: 0;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(5px);
      pointer-events: none;
      opacity: 0;
      cursor: pointer;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .general-status {

      .swiper {
        position: relative;
        transform: translateY(-10px);

        .swiper-wrapper {
          padding: 15px 0;
        }
      }

      .box {
        border-radius: 40px;
        background: #FFF;
        box-shadow: 0 4px 20px 0 rgba(203, 203, 203, 0.31);
        padding: 15px;
        display: flex;

        @media only screen and (max-width: 1024px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .icon {
            margin-bottom: 15px;
          }

          .content {
            margin-right: 0 !important;

            h4 {
              max-width: 95px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            h4, p {
              text-align: center !important;
            }
          }
        }

        .icon {
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 58px;
          height: 58px;
        }

        .content {
          margin-right: 20px;

          h4 {
            color: var(--title, #080E13);
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.014px;
            margin-bottom: 8px;
          }

          p {
            color: var(--description, #757575);
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.014px;
            margin: 0;
          }
        }
      }
    }
  }
}