.home-parent {
  max-width: 90%;
  margin: 0 auto;
  height: calc(100vh - 107px);
  border-radius: 25px;
  background: linear-gradient(180deg, #F8FAFB 0%, #F5F7F9 100%);
  box-shadow: 0 20px 60px 0 #C1C8DF;
  display: flex;
  overflow: hidden;

  .main {
    flex: 1;
    padding: 30px 20px;
    max-width: calc(100% - 440px);


    .title-page {
      margin-bottom: 25px;

      h1 {
        color: var(--title, #080E13);
        text-align: right;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.036px;
        margin: 0;
      }

      p {
        color: var(--description, #757575);
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.016px;
        margin: 0;

        span {
          color: var(--title, #080E13);
        }
      }
    }

    .general-status {

      .swiper {
        position: relative;
        transform: translateY(-10px);

        .swiper-wrapper {
          padding: 15px 0;
        }
      }

      .box {
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0 4px 20px 0 rgba(203, 203, 203, 0.31);
        padding: 15px;
        display: flex;

        .icon {
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 58px;
          height: 58px;
        }

        .content {
          margin-right: 20px;

          h4 {
            color: var(--title, #080E13);
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.014px;
            margin-bottom: 8px;
          }

          p {
            color: var(--description, #757575);
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.014px;
            margin: 0;
          }
        }
      }
    }
  }
}